* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000000;
    color: snow;
}

.crsr {
    border: 2px solid #ffffffbe;
    mix-blend-mode: difference;
    -webkit-transform: translate(-50%, -50%);
    z-index: 998;
}

.loader {
    padding: 8vh 0vw 2vh 10vw;
    line-height: 1.3;
}

.obysicon,
.icon {
    z-index: 990;
}

.line {
    height: fit-content;
    margin-top: 3px;
    overflow: hidden;
}

.line1-part1 {
    font-family: silkserif;
}

.line h2 {
    animation: loaderanime 2s 2s infinite;
}

.hr3 :hover {
    font-family: silkserif;
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-decoration: none;
}

.vidcontainer {
    background-image: url("./assets/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

.videocursor {
    background: #FFA63D;
    left: 80%;
    z-index: 995;
}

.vidcontainer video {
    object-fit: cover;
    opacity: 0;
}

.page4-blue-div {
    padding: 4vw 3vw 1vw 3vw;
    margin-top: -30vh;
}

.elem,
.elem2 {
    margin-bottom: -2vw;
    font-family: "silk serif";
}

.elem h1,
.elem2 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    animation: anime 18s linear infinite;
}

.elem2 h1 {
    animation-direction: reverse;
}

.num {
    font-size: 50px;
    font-family: "silk serif";
}

.image-div-container {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -ms-flex-wrap: wrap;
}

.image-div image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.page3-circle1,
.page3-circle2 {
    border: 2px solid #fff;
}

.circle-in {
    background-color: #fff;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    scale: 0;
}

.circle-in,
.page3-circle1,
.page3-circle2 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.circle-in p {
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.page3-circle1:hover .circle-in,
.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover p,
.page3-circle2:hover p {
    scale: 1;
    opacity: 1;
}

@keyframes loaderanime {
    0% {
        font-family: "plain light", sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    45% {
        font-family: "plain light", sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: "silk serif", serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }

    100% {
        font-family: "silk serif", serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}

@keyframes anime {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(calc(-100% - 20px));
        transform: translateX(calc(-100% - 20px));
    }
}